version: "3.9"

services:

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "4001:4001"

  reservation-service:
    build: ./reservation-service
    container_name: reservation-service
    ports:
      - "4002:4002"

  notification-service:
    build: ./notification-service
    container_name: notification-service
    ports:
      - "4003:4003"

  billing-service:
    build: ./billing-service
    container_name: billing-service
    ports:
      - "4004:4004"

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
