apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: smart-parking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
      - name: auth
        image: ines234/auth-service
        ports:
        - containerPort: 4001
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: smart-parking
spec:
  selector:
    app: auth
  ports:
  - port: 4001
    targetPort: 4001
