apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  namespace: smart-parking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing
  template:
    metadata:
      labels:
        app: billing
    spec:
      containers:
      - name: billing
        image: ines234/billing-service
        ports:
        - containerPort: 4004
---
apiVersion: v1
kind: Service
metadata:
  name: billing-service
  namespace: smart-parking
spec:
  selector:
    app: billing
  ports:
  - port: 4004
    targetPort: 4004
