apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: smart-parking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification
        image: YOUR_DOCKERHUB_USERNAME/notification-service
        ports:
        - containerPort: 4003
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: smart-parking
spec:
  selector:
    app: notification
  ports:
  - port: 4003
    targetPort: 4003
